.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: black;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;


}

.media:hover {
  background-color: white;
  color: black;
  /* background-clip: padding-box; */
  /* border-right: 10px solid rgba(0,0,0,0.12); */

}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  font-weight: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  /* position: relative; */
  /* font-size:9px */
}

/* .badge {
  border: solid;
} */